asgiref==3.8.1
Django==5.0.6
django-cors-headers==4.3.1
django-rest-framework==0.1.0
djangorestframework==3.15.1
gunicorn==22.0.0
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.2
sqlparse==0.5.0
supervisor==4.2.5
typing_extensions==4.11.0
