@import './base.css';

#app {
  font-weight: normal;
}

:where(a),
.green {
  text-decoration: none;
  color: rgb(var(--brand-600));
  transition: color 0.25s ease;
}

:where(html.dark) :where(a),
:where(html.dark) .green {
  color: #5FE3A3;
}

@media (hover: hover) {
  :where(a):hover {
    color: rgb(var(--brand-500));
  }

  :where(html.dark) :where(a):hover {
    color: #8FF0C0;
  }
}
