@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--brand-600);
  transition: color 0.25s ease;
}

@media (hover: hover) {
  a:hover {
    color: var(--brand-500);
  }
}
