@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(var(--brand-600));
  transition: color 0.25s ease;
}

html.dark a,
html.dark .green {
  color: #5FE3A3;
}

@media (hover: hover) {
  a:hover {
    color: rgb(var(--brand-500));
  }

  html.dark a:hover {
    color: #8FF0C0;
  }
}
